# dependencies
node_modules/

# build outputs
.next/
dist/
out/
target/

# cache
.turbo/
.eslintcache
*.tsbuildinfo

# env files
.env
.env.*
!.env.example
!apps/*/.env.example

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

stitch_certigrid_web3_energy_marketplace